
.vlt-navbar .vlt-navbar-logo img {
    display: block;
    height: 5rem;
    position: absolute;
    left: 2.5%;
    top: 15%;
}
.vlt-fullpage-slider .vlt-section .vlt-section__ken-burn-background img {
    position: absolute;
    z-index: -99;
    left: 20%;
    object-fit: contain;
}
.h1.vlt-large-heading,h1.vlt-large-heading {
    font-size: 5rem;
    font-weight: 600
}